@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div style="text-align:center;">
        <label style="font-size:XX-large; width:400px; margin-right:-50px;">Documentation</label>
    </div>
    <div style="text-align:left; width:800px; margin-left:-20%;">
        <label>
            Clicking the <b>Created Internally</b> button generates a unique <b>AdCode</b> beginning with a <b>'6'</b> and the <b>Ad Agency</b> button does the same, but the <b>AdCode</b>
            begins with a <b>'1'</b>. The <b>AdCode</b> is populated automatically depending on which button is clicked.
        </label>
        <hr>
        <label>The <b>Custom AdCode</b> option should only be used to enter a <i>specific</i> <b>AdCode</b> that requires letters.</label>
        <hr>
        <label>
            The <b>Ad Start Date, PrimaryAd, AdVersionID, AdVersionProduct and Ad Spend</b> fields are <u>required</u>.
        </label>
        <hr>
        <label>
            The <b>PrimaryAd</b> and <b>AdVersionProduct</b> fields will autofill based off of what you begin typing. You can finish typing it out, click on the desired option, 
            or scroll down with the arrow keys and press 'Enter' to select it.
        </label>
        <hr>
        <label>
        The <b>AdVersionID</b> field must not contain spaces or special characters.
        </label>
        <hr>
        <label>
            The <b>In Circulation and Page Number</b> fields STRICTLY require number inputs.
        </label>
        <hr>
        <label>
            The <b>Ad Spend</b> field must be a number, but it also accepts decimal values such as '1499.99'.
        </label>
        <hr>
        <label>
            The <b>PrimaryAd</b> must match one of the autofilled fields. If not, the Advertisement will not be able to be submitted. Conversely, the <b>AdVersionProduct</b> field does not have to match, 
            but if it doesn't, it will be entered as 'Other'.
        </label>
        <hr>
        <label>
            Upon a successful submission, you will see a 'Submission Summary' on the left side of your page.
        </label>
        <hr>
        <label>
            If you have any other questions or I missed anything, please reach out to me, Jake Jordan. Please include a screenshot of what you are trying to submit, the error displayed and I'll reach
            back out to you shortly. Thank you!
        </label>
        
    </div>
    <br />
    <div style="text-align:center;">
        <a style="font-size:Large; text-align:center" href="../">Back</a>
    </div>

}
